@font-face {
    font-family: Lato;
    font-weight: bold;
    font-style: bold;
    src: url(../assets/fonts/Lato-Bold.ttf);
}

h1 {
  font-family: Lato;
  font-size: 200%;
  text-align: center;
  color: blue;
  background-color: #FFD7D7;
}

button {
  margin: 20px;
  padding: 9px;
  width: 150px;
  border-radius: 9px;
  color : white;
  background-color: red;
  font-family: Lato;
  font-size: 100%;
  border-style: hidden;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
}

.options {

  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.roro {
  color: #FD2D01;
  font-family: Lato;
  font-size: 100%;
  text-align:  center;
  background-color: #FFD7D7;
}

.logo {
  display: block;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.1);
}

.menu {
  display: block;
  margin-left: 120px;
  font-family: Lato;
  font-size: 150%;
  color: red;
}

.pied {
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  padding-top: 12px;
}

.menu {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: white;
  background-color: blue;
  padding: 9px;
  text-decoration: none;
  border-radius: 9px;
}

form {
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: #e9694f87;
  font-family: Lato;
  font-size: 130%;
  color: #FD2D01;
  width: 460px;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
}
label, input {
  font-size: 120%;
  padding: 9px;
}

/* style des posts */

.dispo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
}

figure {
  margin-top: 12px;
  margin-inline: 12px;
}

figure img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 12px;
  top: 0%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
}

figure figcaption {
  position: relative;
  top: -42px;
  margin: auto;
  padding: 3px;
  text-align: center;
  font-size: 130%;
  background-color: rgba(255, 255, 255, 0.66);
}

.cadre {
  display: block;
  border: solid 1px black;
  margin: 9px;
  width: 60%;
  border-radius: 13px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
}

.cadre-bouton {
  display: flex;
  justify-content: space-around;
}

.cadre-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cadre-comment p {
  font-family: Lato;
  font-size: 110%;
  width: 90%;
  border: solid 1px black;
  border-radius: 6px;
  margin: 3px 0px 3px 0px;
  padding: 3px;
}
.cadre-comment form {
  margin-bottom: 12px;
  width: 84%;
  border: solid 2px red;
}

.cadre-comment form textarea{
  font-family: Lato;
  font-size: 100%;
  margin-bottom: 12px;
  width: 100%;
}

.like {
  margin-left: 30px;
}