
// Définitions des variables 

$priColor: #FD2D01;
$secColor: #FFD7D7;
$terColor: #4E5166;

// Définitions des polices

@font-face {
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    src: url(../assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-med;
  font-weight: normal;
  font-style: normal;
  src: url(../assets/fonts/Lato-Medium.ttf);
}

// Définitions générales

body {
  width: 90%;
  margin: 0 auto;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Animation de la page d'acceuil

@keyframes tourne {
  
  from {rotate: 0deg;}
  to {rotate: 360deg;}
}

.ground {
  background-color: $secColor;
  padding-bottom: 3px;
}

.symbole {  
  display: block;
  margin: auto;
  padding: 7% 29%;
  width: 42%;
  animation: tourne 6s linear infinite;
}

h1 {
  font-family: Lato;
  font-size: 133%;
  text-align: center;
  margin: 9px auto;
  padding: 3px;
  color: white;
  background-color: black;
  border-radius: 9px;
}

// Style pour les boutons génériques

button {
  margin: 6px;
  padding: 9px;
  width: 40%;
  border-radius: 9px;
  color : white;
  background-color: $priColor;
  font-family: Lato;
  font-size: 100%;
  border-style: hidden;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
  &:hover {
    background-color: rgb(147, 0, 0);
  }
  &:active {
    scale: 95%;
  }
}

.button--off {
   background-color: $terColor;
   &:hover {
    background-color: $terColor;
   }
   &:active {
    scale: 100%;
  }
}

.button--supp {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  scale: 120%;
}

.options {
  background-color: $terColor;
  display: flex;
  justify-content: space-evenly;
}

.roro {
  font-family: Lato;
  font-size: 120%;
  text-align:  center;
  padding: 9px 0px 9px 0px;
  color: $terColor;
  background-color: $secColor;
  border-radius: 9px;
  box-shadow: 0px 6px 9px $terColor;
}

.logo {
  display: block;
  margin: 3px auto;
  padding: 1% 29%;
  width: 42%;
  border: solid $secColor;
  border-radius: 30px;
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 12px auto;
  font-family: Lato;
  font-size: 150%;
  color: red;
}

.pied {
  background-color: $terColor;
  color: white;
  text-align: center;
  height: 100px;
  padding-top: 12px;
}

.menu a {
  color: white;
  background-color: $terColor;
  padding: 9px;
  text-decoration: none;
  border-radius: 9px;
}

// Style pour les formulaires des composants Inscription & Connexion

.formEntete {
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: $terColor;
  font-family: Lato-med;
  font-size: 130%;
  color: white;
  width: 37%;
  margin: 9px auto;
  padding: 9px;
  border-radius: 12px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
  & a {
    color: white;
  }
  & p {
    font-family: Lato-med;
    text-align: center;
    margin-top: 0px;
    color: $secColor;
  }
}

// Style pour le composant CreatePost

.createPost {
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: $terColor;
  font-family: Lato-med;
  font-size: 130%;
  color: white;
  width: 87%;
  margin: 9px auto;
  padding: 9px;
  border-radius: 12px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
  & img {
    margin-bottom: 9px;
    width: 67%;
    border-radius: 9px;
  }
  & a {
    color: white;
  }
  & p {
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
    font-size: 80%;
  }
  & i {
    display: block;
    margin: 9px auto;
    padding: 3px  9px;
    width: 150px;
    font-size: 100%;
    text-align: center;
    background-color: $priColor;
    border-radius: 9px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
  }
  & i:hover {
    background-color: rgb(147, 0, 0);
  }
  & i:active {
    scale: 95%;
  }
}

// Style pour le composant ModifyPost

.modifyPost {
  position: absolute;
  left: 20.5%;
  top: 3px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: $terColor;
  font-family: Lato;
  font-size: 130%;
  color: white;
  width: 60%;
  padding: 9px;
  border-radius: 12px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
  & img {
    margin-top: 16px;
    width: 67%;
    border-radius: 9px;
  }
  & a {
    color: white;
  }
  & p {
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
  }
  & i {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 9px 15px;
    font-size: 80%;
    background-color: $priColor;
    border-radius: 9px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
  }
  & i:hover {
    background-color: rgb(147, 0, 0);
  }
  & i:active {
    scale: 95%;
  }
}

label, input {
  font-size: 120%;
  padding: 9px;
  width: 90%;
}

/* style des posts */

.dispo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
  background-color: $secColor;
  padding-bottom: 42px;
}

figure {
  margin-top: 12px;
  margin-inline: 12px;
  & img {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 12px;
    top: 0%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.498);
  }
  & figcaption {
    position: relative;
    top: -42px;
    margin: auto;
    padding: 3px;
    text-align: center;
    font-size: 130%;
    background-color: rgba(255, 255, 255, 0.66);
  }
}

.opaque {
  opacity: 0.33;
}
.cadre {
  display: block;
  position: relative;
  border: solid 1px black;
  margin: 9px;
  width: 89%;
  border-radius: 13px;
  background-color: white;
  box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.498);
}

.cadre-bouton {
  display: flex;
  justify-content: space-around;
}

.cadre-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  & div {
    display: flex;
    align-items: baseline;
    gap: 3%;
    font-family: Lato-med;
    font-size: 150%;
    width: 90%;
    height: 20%;
    background-color: #4e516612;
    border-radius: 6px;
    margin: -9px 0px 20px 0px;
    padding: 9px 30px 9px 9px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  }
  & div .pseudo {
    font-size: 100%;
    font-family: Lato;
    width: 20%;
    color: $priColor;
    margin: 0px;
    padding-right: 0px;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}
  & form {
    margin-top: 0px;
    margin-bottom: 12px;
    width: 90%;
  }
  & form textarea{
    position: relative;
    left: -3%;
    font-family: Lato-med;
    font-size: 150%;
    margin-bottom: 12px;
    width: 106%;
    border: none;
    background-color: #4e516612;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  }
  & form textarea:focus {
    outline-color: #FD2D01;
  }
  & form button {
    position: relative;
    top: -38px;
    left: 65%;
    margin: 0px;
    font-size: 75%;
  }
}

.like {
  margin-top: -25px;
  display: flex;
  justify-content: center;
  gap: 4px;
  & img {
    margin-top: 6px;
    width: 6%;
  }
}

.infosupp {
  text-align: center;
  margin: 6px auto;
}

.alerte {
  display: flex;
  flex-direction: column;
  align-items: center;
  & h1 {
    width: 100%;
  }
  & p {
    margin: 12% auto;
    text-align: center;
    font-size: 200%;
  }
  & a {
  color: white;
  background-color: $terColor;
  padding: 9px;
  text-decoration: none;
  border-radius: 9px;
  margin-bottom: 12%;
  }
}

// Media queries

@media only screen and (max-width: 700px) {

  body {
    font-size : 45%;
  }
  .formEntete {
    width: 66%;
  }
  .button--supp {
    scale: 90%;
    top: -4px;
    left: -4px;
  }
  .cadre-comment p {
    width: 80%;
  }

}

@media only screen and (min-width: 990px) {

  body {
    width: 900px;
  }
}